.menu {
    display: inline-block;
    list-style: inside none;
    padding: 0;
    margin: 0;
}

.menu li {
        display: inline-block;
        margin-left: 10px;
}

.menu li:first-child {
            margin-left: 0;
}    

.menu li a {
            text-decoration: none;
            color: #000000;
}

.menu li a:hover {
            color: #1890ff;
            border-bottom: 3px #1890ff solid;
}
